<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>TianCat</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">TianCat</a>
            </div>
            <div>
                <a href="cart.html">Cart</a> &nbsp;
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 1280 by 1024 (5:4)-->
                        <img class="medium" src="./images/p1.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Ferrari 488 Pista</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$300,000</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 1280 by 1024 (5:4)-->
                        <img class="medium" src="./images/p2.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Lamborghini Aventador SV</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-half-o"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$490,700</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 1280 by 1024 (5:4)-->
                        <img class="medium" src="./images/p3.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Porsche 911 GT3 RS</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$187,500</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 1280 by 1024 (5:4)-->
                        <img class="medium" src="./images/p4.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mercedes-AMG G63</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-half-o"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$156,450</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 1280 by 1024 (5:4)-->
                        <img class="medium" src="./images/p5.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Jeep Wrangler</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-half-o"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$38,695</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 1280 by 1024 (5:4)-->
                        <img class="medium" src="./images/p6.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Land Rover Defender</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$49,900</div>
                    </div>
                </div>

            </div>
        </main>
        <footer class="row center">
            Project Shopping Websit Programming 2020. Kailun Yang <br>
            Disclaimer: All of this information is ficticious <br>
            All right reserved <br>
        </footer>
    </div>
    
</body>

</html>